<form method="post" action="/animals/<%= @animal.id %>">
  <div class="new_wrapper">

    <div class="row_wrapper">
  <label class="data_label" for="name">Name:</label>
  <input class="data_input" type="text" name="name" id="name" value="<%= @animal.name %>"/>
</div>
  <div class="row_wrapper">
  <label class="data_label" for="type">Type:</label>
  <input class="data_input" type="text" name="type" id = "type" value="<%= @animal.type %>"/>
</div>
  <div class="row_wrapper">
  <label class="data_label" for="entry-date">Entry Date:</label>
    <input class="data_input" id="entry-date" type="date" name="entry_date" value="<%= @animal.entry_date %>"/>
</div>
<div class="row_wrapper">
  <label class="options_label" for="status">Edit animal status:</label>
  <select name="status" id="status">
   <option class="data_input"
   value="Unavailable"
   <%= "selected" if @animal.status == "Unavailable" %>
   >Unavailable</option>
   <option class="data_input"
   value="Available"
   <%= "selected" if @animal.status == "Available" %>
   >Available</option>
 </select>
 </div>





  <input type='submit' value="Edit Animal">
</div>
</form>
