<p>Name: <%= @animal.name %></p>
<p>Type: <%= @animal.type %></p>
<p>EntryDate: <%= @animal.entry_date %></p>
<p>Status: <%= @animal.status %></p>


<form method="post" action="/animals/<%= @animal.id %>/delete">
<input type="submit" value ="Delete" />
</form>

<form method="post" action="/animals/<%= @animal.id %>/ready_for_adoption">
<input type="submit" value ="Available for adoption" />


</form>
